<!DOCTYPE html>
<html>
    <head>
        <title>Ceci est la page Home du site de cette association !</title>
    </head>
    <body>
        <h1>Assoc'</h1>
        
        <p>
            Petit test de fonctionnement de Symfony avec Github pour ce premier site.
			Tous les sites de cette entreprise seront codés à l'aide du framework
			Symfony2.
        </p>
    </body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</html>